:root {
  --heading: 40px;
  --heading: "Inter Tight", sans-serif;
  --body: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
}

/* ============================================ Navigation bar ============================================ */

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: rgb(33, 33, 33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 6%;
}

nav h1 {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu {
  position: fixed;
  z-index: 1;
  top: 80px;
  right: -100%;
  width: 100%;
  height: auto;
  background: #333;
  color: white;
  transition: right 0.3s ease-in-out;
  padding: 20px;
}

.menu.show {
  right: 0;
}

/* ============================================ Hero section ============================================ */

.container {
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgb(0, 0, 0, 0.7)
    ),
    url("/assets/Hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero h1 {
  font-size: 55px;
  font-weight: 600;
  color: white;
}

.hero h3 {
  font-size: 25px;
  font-weight: 350;
  color: white;
}

.hero p {
  font-family: var(--body);
  font-size: 16px;
  color: white;
  padding: 0 20%;
  font-weight: 300;
  opacity: 50%;
}

.hero button {
  padding: 14px 20px;
  font-size: 20px;
  font-weight: 400;
  background-color: rgb(36, 117, 117);
  border: 1px solid rgb(36, 117, 117);
  color: white;
  border-radius: 3px;
  margin-top: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero button:hover {
  background-color: transparent;
  border: 1px solid white;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 20vh;
  color: rgb(156, 187, 207);
  background-color: rgb(38, 57, 70);
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-content span {
  font-size: 45px;
  font-weight: bold;
}

.info-content h2 {
  font-weight: 600;
}

.info-content p {
  font-family: var(--body);
  font-weight: 300;
}

/* ============================================ About section ============================================ */

.about {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  padding: 80px 6%;
}

.about h2 {
  font-size: 35px;
  color: #313131;
}

.about-content {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 15px;
}

.about-content p {
  font-family: var(--body);
  font-size: 18px;
  font-weight: 400;
  opacity: 70%;
}

.about-content button {
  padding: 14px 20px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #313131;
  background-color: transparent;
  border: 1px solid rgb(127, 127, 127);
  color: rgb(0, 0, 0);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.about-content button:hover {
  background-color: rgb(243, 243, 243);
}

.about img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

/* ============================================ Services section ============================================ */

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 0 6%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

#services h2 {
  text-align: center;
  font-size: 35px;
  color: #313131;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
  gap: 15px;
  padding: 20px;
  background-color: white;
  border: 1px solid rgb(157, 157, 157);
  border-radius: 3px;
  text-align: center;
}

.card img {
  width: 50px;
  height: 50px;
}

.card h3 {
  font-size: 20px;
  color: #313131;
}

.card p {
  font-size: 15px;
  font-family: var(--body);
}

/* ============================================ Why choose us section ============================================ */

.whyus {
  position: relative;
  padding: 0 6%;
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
}

.whyus-image {
  position: relative;
  background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/assets/Image2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.whyus-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255, 255, 255);
  color: #313131;
  padding: 40px;
  top: -20px;
  right: 20px;
}

.whyus-content h2{
  font-size: 35px;
  color: #313131;
}

.whyus-content h3{
  font-size: 20px;
  color: #313131;
  font-weight: 500;
  opacity: 60%;
  margin-bottom: 10px;
}

.whyus-content li{
  font-family: var(--body);
  color: #313131;
  font-size: 18px;
  font-weight: 400;
}


/* ============================================ Mobile view ============================================ */

@media only screen and (max-width: 768px) {
  ul {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .hero {
    height: 100vh;
  }

  .hero h1 {
    font-size: 35px;
  }

  .hero h3 {
    font-size: 20px;
  }

  .hero p {
    padding: 0 6%;
    font-size: 12px;
  }

  .hero button {
    font-size: 18px;
  }

  .info {
    flex-direction: column;
    height: auto;
    gap: 70px;
    padding: 50px 0;
  }

  .about {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
  }

  .about h2 {
    text-align: center;
  }

  .about-content {
    width: 100%;
  }

  .about-content p {
    text-align: center;
    font-size: 15px;
  }

  .about-content a {
    text-decoration: none;
  }

  .about-content button {
    font-size: 18px;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .about img {
    width: 100%;
  }

  .whyus-content h2{
    font-size: 35px;
  }
  
  .whyus-content h3{
    font-size: 20px;
  }
  
  .whyus-content li{
    font-size: 15px;
  }
}

/* ============================================ Tablet view ============================================ */

@media only screen and (max-width: 900px) {
  ul {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .info {
    height: auto;
    gap: 20px;
    padding: 50px 6%;
  }
}
